*~
*.pyc
*.html~
.idea
*REMOTE*
*LOCAL*
*BASE*
*BACKUP*
*.orig
migrations/
DataGenerator/cron.log
Project_Database/
local_settings.py
path.txt
prepros.cfg
Media
bower_components
fabfile.py

node_modules
UI

# ignore mac display settings files
.DS_Store
.vscode/


## Sails Server
config/local.js
.tmp
dump.rdb
lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history

package-lock.json
/data
